<div class="container">
  <div class="listlabel">
    <h3>카테고리</h3>
  </div>
  <div class="listcontent">
    <div class="listsorting">
      <p>추천순</p>
      <p>가격순</p>
      <p>최신순</p>
    </div>
    <div class="listbox">
      <div class="listimage">
        <p>USD 5,000,000K</p>
      </div>
      <div class="listdescribe">
        <h3>매물명</h3>
        <h5>판매자의 안내문구가 들어갑니다 이 문구는 꽤 길죠~~~~~~~</h5>
      </div>
    </div>
    <div class="listbox">
      <div class="listimage">
        <p>USD 3,000,000K</p>
      </div>
      <div class="listdescribe">
        <h3>매물명</h3>
        <h5>판매자의 안내문구가 들어갑니다</h5>
      </div>
    </div>
    <div class="listbox">
      <div class="listimage">
        <p>USD 3,000,000K</p>
      </div>
      <div class="listdescribe">
        <h3>매물명</h3>
        <h5>판매자의 안내문구가 들어갑니다</h5>
      </div>
    </div>
  </div>
</div>
