.navbar{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.navbar>i{
  font-size: 20px;
  flex:2;
}
i.login-nav{
  text-align: right;
  z-index: 100;
}
p{
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  flex: 8;
}
.board{
  height: 15vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.board-menu{
  height: 60px;
  width: 60px;
  background-color: #ddd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-menu>i{
  font-size: 30px;
}
.selected{
  background-color: #7b84d4;
}
@media(min-width:426px){
  .container{
    max-width: 1024px;
    margin: 0 auto;
  }
  .navbar>p, .navbar>i{
    font-size: 45px;
  }
  .board{
    max-width: 1024px;
  }
  .board-menu{
    height: 100px;
    width: 100px;
  }
  .board-menu>i{
    font-size: 45px;
  }
}
