ul{
  padding: 0 15px;
}
li{
  list-style: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #eee;
  padding: 3px;
}
.message-info{
  display: flex;
  color: #777;
}
.message-info>h4{
  width: 100%;
  margin: 0;
  font-weight: 300;
  flex: 2.5;
}
.message-info>h5{
  margin: 0;
  flex: 1;
  font-weight: 300;
}
.message-contents>h5{
  margin: 5px 0;
  overflow-wrap: break-word;
}
.date{
  margin: 0;
  text-align: right;
  color: #ccc;
}
@media(min-width:426px){
  .container{
    max-width: 1024px;
    margin: 10px auto;
  }
  ul>h3{
    font-size: 45px;
  }
  .message-info>h4{
    font-size: 20px;
  }
  .message-contents>h5{
    font-size: 25px;
  }
  .date{
    font-size: 20px;
  }
}
