*{
  margin: 0;
}
ul{
  padding: 0 15px;
  text-align: center;
}
li{
  margin: 30px 10px;
  list-style: none;
  font-size: 20px;
}
@media(min-width:426px){
  h2{
    font-size: 45px;
  }
  ul>*{
    font-size: 30px;
  }
}
