@charset "UTF-8";

/*Theme Color*/
:root {
  --gunmetal : #293035;
  --tearose : #E7C2C5;
  --pblue : #ACCAFF;
  --sgray : #74828D;
  --mint : #93FFB0;
}
body{
  font-family: 'Lexend Deca',
  'Nanum Gothic Coding', monospace,
  arial,
  sans-serif;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
