<div class="container">
  <div class="listlabel">
    <h3>{{category | uppercase}}</h3>
  </div>
  <div class="listcontent">
    <div class="listsorting">
      <p (click)="getData('recommand')">추천순</p>
      <p (click)="getData('price')">가격순</p>
      <p (click)="getData('upload_date')">최신순</p>
    </div>
    <section class="listarea">
      <div class="listbox" *ngFor="let data of datalist" routerLink={{data.id}}>
        <div class="listimage" [ngStyle]="{ 'background-image': 'url(' + data.image + ')'}">
          <p><i class="far fa-heart"></i>{{data.likecount}} &nbsp;&nbsp; USD {{data.price}} K </p>
        </div>
        <div class="listdescribe">
          <h3>{{data.name}}</h3>
          <h5>{{data.detail}}</h5>
        </div>
      </div>
    </section>
  </div>
</div>
